---
import CodeBlock from "./CodeBlock.astro";

interface Props {
  src?: string;
  lang?: string;
  theme?: string;
  showLineNumbers?: boolean;
}

const { src, lang = "svelte", theme, showLineNumbers = true } = Astro.props;

const examples = import.meta.glob<string>("/src/examples/**/*.svelte", {
  query: "?raw",
  import: "default",
  eager: true
});

let code = "";

if (src) {
  const fullPath = `/src/examples/${src}`;

  const loadCode = examples[fullPath];

  if (loadCode) {
    code = loadCode.trim();
  } else {
    console.warn(`[ComponentExample] No se encontró el archivo en: ${fullPath}`);
    console.warn(`Rutas disponibles:`, Object.keys(examples).slice(0, 3), "...");
  }
}
---

<section
  class="my-8 border border-separator rounded-3xl overflow-hidden bg-transparent"
  aria-label="Component Example"
  data-example-container
>
  <div class="p-8 flex items-center justify-center min-h-96">
    <slot />
  </div>

  {
    code && (
      <div class="border-t border-separator" aria-label="Component Example Code">
        <CodeBlock
          code={code}
          lang={lang}
          theme={theme}
          showLineNumbers={showLineNumbers}
          isContained
        />
      </div>
    )
  }
</section>
